body {
  font-family: Roboto;
  background-color: rgb(246, 246, 246);
}

.completed {
  text-decoration: line-through;
}

/* //todo stats */
.todo-stats-container {
  text-align: center;
  padding: 1rem;
  width: auto;
}

/* Form */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* List */
.todo-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  background-color: white;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

/* todo Item */
.todo-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo-item-checkbox {
  width: 2rem;
  height: 2rem;
}

/* Filter buttons */
.button-filter {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.button-filter.active {
  padding: 1rem;
  background-color: black;
  color: white;
}
